<div class="nav-container">
    <div>
      <a
        routerLink="/tutor/home"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >HOME</a
      >
    </div>
    <div>
      <a
        routerLink="/tutor/about"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >ABOUT</a
      >
    </div>
    <div>
      <a
        routerLink="/tutor/blogs"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >BLOGS</a
      >
    </div>
    <div>
      <a
        routerLink="/tutor/courses"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >CREATE COURSES</a
      >
    </div>
    <div>
      <div>
          <a
            routerLink="/tutor/discussions"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >DISCUSSIONS</a
          >
        </div>
    </div>
    <div>
      <a
        routerLink="/tutor/account"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >ACCOUNT</a
      >
    </div>
  </div>
  <router-outlet></router-outlet>
  